/* mobile version of site bc i hate responsive web design */

body {
    color:#F9F7F5;
    width: 95%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background: #26262F;
}

.footer {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    bottom: 0%;
    margin-top: 0%;
}


.headbox {
    margin-left: auto;
    margin-right: auto;
}

.introbox {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    background-size: auto 80px;
    background-color: #26262F;
    border: 3px solid #98b6a0;
    border-radius: 6px;
    height: auto;
    width: 93%;
    position: relative;
    padding: 10px;
}


.aboutbox {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    background-size: auto 80px;
    background-color: #26262F;
    border: 3px solid #98b6a0;
    border-radius: 6px;
    height: auto;
    width: 93%;
    position: relative;
    padding: 10px;
}

.grouphoto {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }

.profiles {
    width: 55%;
    height: auto;
    margin-top: 8px;
    position: relative;
    padding-bottom: 10%;
}

.profileimage {
    float: right;
    width: 40%;
    padding: 1%;
    padding-top: 1%;
    border-radius: 8%;
}


.links {
    background-color: #F9F7F5;
    border: 3px solid #98b6a0;
    background-image: url(img/bg.png);
    border-radius: 6px;
    padding: 10px;
    margin-top: 8px;
    position: relative;
    text-align: center;
}

.welcome {
    text-align: center;
}

.error {
    text-align: center;
    font-size: x-large;
    margin-bottom: 0%;
}

.moreinfo {
    margin-top: 0%;
    text-align: center;
    font-size: large;
}


.ddawglogo {
    margin-left: auto;
    margin-right: auto;
    padding-top: 0%;
    display: block;
    position: relative;
    bottom: 1%;
    z-index: 10;
    width: 40%;
    height:auto;
}

.boxheader {
    margin-right: auto;
    display: block;
    position: relative;
    bottom: 5px;
    z-index: 10;
}

a:link {
    color: rgb(216, 237, 252);
    background-color: transparent;
    text-decoration: none;
}
  
a:visited {
    color: rgb(167, 206, 233);
    background-color: transparent;
    text-decoration: none;
}