body {
    color:#F9F7F5;
    background: #1a1220;
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; /* 1 */
    font-feature-settings: normal;
    background-image: url("img/bg.webp");
    background-attachment:fixed;
    background-size: 40%;
    image-rendering: pixelated;
    background-position:center;
    background-repeat: no-repeat;
    min-height:100%
}

::-webkit-scrollbar {
    display: none;
}

p {
    font-size: 75%;
}


@font-face {
    font-family: pissjarSans;
    src: url(font/Pissjar.ttf);
}

body > .topbar > h2 {
    margin-top: auto;
    margin-bottom: 0.5%;
    text-align: center;
    font-size: 400%;
    font-family: pissjarSans;
}

body > h2 {
    margin-top: auto;
    text-align: center;
    font-size: 250%;
    color: #232820;
    -webkit-text-fill-color: white;
    -webkit-text-stroke: 1.5px;
}

.divtostopsitefrombreaking > p {
    font-size: 75%;
    position: absolute;
    bottom: 0;
}

.links {
    display: flex;
    justify-content: center; /* horizontally center flex items */
}

.links h2 {
    margin-top: auto;
}

.links h2 a {
    text-decoration: none; /* remove underline from links */
    padding: 10px; /* add padding for spacing */
}

.newsbox > h2 {
    margin-top: auto;
    text-align: center;
    font-size: 200%;
    color: #232820;
    -webkit-text-fill-color: white;
    -webkit-text-stroke: 2px;
}

.newsbox {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    background-color: #0d0d14ab;
    border-radius: 1%;
}

.gigbox > h2 {
    margin-top: auto;
    text-align: center;
    font-size: 200%;
    color: #232820;
    -webkit-text-fill-color: white;
    -webkit-text-stroke: 2px;
}

.gigbox {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    background-color: #0d0d14ab;
    border-radius: 1%;
}


.doubleFlexBox {
    display: flex;
}

p {
    text-align: center;
}

body > h3 {
    margin-top: auto;
    text-align: center;
    font-size: 200%;
    color: #232820;
    -webkit-text-fill-color: white;
    -webkit-text-stroke: 2px;
}

.thisIsTheDrizzleDawg {
    display: flex;
    align-items: center;
    justify-content: center
}

.thisIsTheDrizzleDawg > h3 {
    margin-top: auto;
    text-align: center;
    color: #232820;
    font-size: 200%;
    -webkit-text-fill-color: white;
    -webkit-text-stroke: 2px;
    padding-right: 1%;
}

.footer {
    position: fixed; /* Change from absolute to fixed */
    bottom: 0;
    width: 100%; /* Adjusted to 100% */
    height: 40px;
    text-align: center;
}

.footer > p > a {
    color: #35184d;
}

tr {
    padding-bottom: 5%;
}
td {
    padding-bottom: 5%;
}