body {
    color:#F9F7F5;
    background: #1a1220;
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; /* 1 */
    font-feature-settings: normal;
    background-image: url("img/bg.webp");
    background-attachment:fixed;
    background-size: 40%;
    image-rendering: pixelated;
    background-position:center;
    background-repeat: no-repeat;
    text-align: center;
}

body > h2 {
    font-size: 250%;
}

p {
    font-size: 75%;
    position: absolute;
    padding-left: auto;
    padding-right: auto;
    bottom: 0;
}